
/CityTravel.Web.UI/CityTravel.Web.UI.csproj.user
/CityTravel.Web.UI/bin
/CityTravel.Web.UI/obj
/CityTravel.Domain/bin
/CityTravel.Domain/obj
/CityTravel.Resources/obj
/CityTravel.Resources/bin
/CityTravel.Tests/bin
/CityTravel.Tests/obj
/CityTravel.5.9.TeamCity.user
/CityTravel.sln.docstates.suo