@{
    ViewBag.Title = "Error500";
}

<h2>Error500</h2>

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Errors/Page404.css")" />
<div class="content-500">
    <div class="text-500">
        <h2>
            <img src="@Url.Content("~/Content/images/Errors/background500.jpg")" alt="Самоликвидация через 404 сек"><br>
        </h2>
        <p>
            Возникла ошибка сервера<br>
            Вы можете попробывать <a href="@Url.Content("~")">перейти</a> на главную страницу.</p>
    </div>
</div>
