@{
    ViewBag.Title = "Error404";
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Errors/Page404.css")" />
<div class="content-404">
    <div class="text-404">
        <h2>
            <img src="@Url.Content("~/Content/images/Errors/main_image404.gif")" alt="Самоликвидация через 404 сек"><br>
        </h2>
        <p>
            Запрашиваемая страница не найдена на сервере.<br>
            Вы можете <a href="@Url.Content("~")">перейти</a> на главную страницу.</p>
    </div>
</div>
