<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>http://localhost/CityTravelDaily</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/AjaxMin.dll">
      <publishTime>05/08/2012 18:13:55</publishTime>
    </File>
    <File Include="bin/AjaxMin.pdb">
      <publishTime>05/08/2012 18:13:55</publishTime>
    </File>
    <File Include="bin/CityTravel.Domain.dll">
      <publishTime>05/14/2012 13:52:26</publishTime>
    </File>
    <File Include="bin/CityTravel.Domain.pdb">
      <publishTime>05/14/2012 13:52:26</publishTime>
    </File>
    <File Include="bin/CityTravel.Translations.dll">
      <publishTime>05/14/2012 13:52:25</publishTime>
    </File>
    <File Include="bin/CityTravel.Translations.pdb">
      <publishTime>05/14/2012 13:52:25</publishTime>
    </File>
    <File Include="bin/CityTravel.Web.dll">
      <publishTime>05/14/2012 13:55:03</publishTime>
    </File>
    <File Include="bin/CityTravel.Web.pdb">
      <publishTime>05/14/2012 13:55:03</publishTime>
    </File>
    <File Include="bin/dotless.Core.dll">
      <publishTime>05/14/2012 12:46:48</publishTime>
    </File>
    <File Include="bin/EcmaScript.NET.modified.dll">
      <publishTime>05/08/2012 15:26:37</publishTime>
    </File>
    <File Include="bin/EntityFramework.dll">
      <publishTime>05/11/2012 16:45:51</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>05/11/2012 16:45:51</publishTime>
    </File>
    <File Include="bin/Jurassic.dll">
      <publishTime>05/08/2012 18:07:52</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>05/11/2012 12:39:24</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.dll">
      <publishTime>05/08/2012 18:08:02</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.xml">
      <publishTime>05/08/2012 18:08:02</publishTime>
    </File>
    <File Include="bin/Ninject.dll">
      <publishTime>05/08/2012 15:26:52</publishTime>
    </File>
    <File Include="bin/Ninject.pdb">
      <publishTime>05/08/2012 15:26:52</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Common.dll">
      <publishTime>05/08/2012 15:26:53</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Common.pdb">
      <publishTime>05/08/2012 15:26:53</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Common.xml">
      <publishTime>05/08/2012 15:26:53</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Mvc.dll">
      <publishTime>05/08/2012 15:26:54</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Mvc.pdb">
      <publishTime>05/08/2012 15:26:54</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Mvc.xml">
      <publishTime>05/08/2012 15:26:54</publishTime>
    </File>
    <File Include="bin/Ninject.xml">
      <publishTime>05/08/2012 15:26:52</publishTime>
    </File>
    <File Include="bin/ru/CityTravel.Translations.resources.dll">
      <publishTime>05/14/2012 13:52:25</publishTime>
    </File>
    <File Include="bin/SQLSpatialTools.dll">
      <publishTime>03/31/2011 20:17:04</publishTime>
    </File>
    <File Include="bin/SQLSpatialTools.pdb">
      <publishTime>03/31/2011 20:17:04</publishTime>
    </File>
    <File Include="bin/SquishIt.Framework.dll">
      <publishTime>05/08/2012 18:07:52</publishTime>
    </File>
    <File Include="bin/SquishIt.Mvc.dll">
      <publishTime>05/08/2012 18:07:52</publishTime>
    </File>
    <File Include="bin/System.Json.dll">
      <publishTime>05/11/2012 12:39:27</publishTime>
    </File>
    <File Include="bin/System.Json.xml">
      <publishTime>05/11/2012 12:39:27</publishTime>
    </File>
    <File Include="bin/System.Net.Http.dll">
      <publishTime>05/11/2012 12:39:28</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.dll">
      <publishTime>05/11/2012 12:39:28</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.xml">
      <publishTime>05/11/2012 12:39:28</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.dll">
      <publishTime>05/11/2012 12:39:28</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.xml">
      <publishTime>05/11/2012 12:39:28</publishTime>
    </File>
    <File Include="bin/System.Net.Http.xml">
      <publishTime>05/11/2012 12:39:28</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>05/11/2012 12:39:25</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.xml">
      <publishTime>05/11/2012 12:39:25</publishTime>
    </File>
    <File Include="bin/System.Web.Http.Common.dll">
      <publishTime>05/11/2012 12:39:26</publishTime>
    </File>
    <File Include="bin/System.Web.Http.Common.xml">
      <publishTime>05/11/2012 12:39:26</publishTime>
    </File>
    <File Include="bin/System.Web.Http.dll">
      <publishTime>05/11/2012 12:39:28</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.dll">
      <publishTime>05/11/2012 12:39:29</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.xml">
      <publishTime>05/11/2012 12:39:29</publishTime>
    </File>
    <File Include="bin/System.Web.Http.xml">
      <publishTime>05/11/2012 12:39:28</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>05/11/2012 12:39:27</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.xml">
      <publishTime>05/11/2012 12:39:27</publishTime>
    </File>
    <File Include="bin/System.Web.Providers.dll">
      <publishTime>05/11/2012 12:39:29</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>05/11/2012 12:39:25</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.xml">
      <publishTime>05/11/2012 12:39:25</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>05/11/2012 12:39:25</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.xml">
      <publishTime>05/11/2012 12:39:25</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>05/11/2012 12:39:25</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>05/11/2012 12:39:25</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.xml">
      <publishTime>05/11/2012 12:39:25</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.xml">
      <publishTime>05/11/2012 12:39:25</publishTime>
    </File>
    <File Include="bin/WebActivator.dll">
      <publishTime>05/08/2012 15:26:53</publishTime>
    </File>
    <File Include="bin/Yahoo.Yui.Compressor.dll">
      <publishTime>05/08/2012 15:26:37</publishTime>
    </File>
    <File Include="Content/images/aboutUsPict/Dnepr_logo.jpg">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/aboutUsPict/Exigen_logo.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/browsers/chrome.jpg">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/browsers/ie.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/browsers/mozilla.jpg">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/browsers/opera.jpg">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/bus.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/circle-small.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/distance.gif">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/Errors/background404.jpg">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/Errors/background500.jpg">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/Errors/error-500-custom-page.jpg">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/Errors/main_image404.gif">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/exchange.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/glyphicons-halflings-white.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/glyphicons-halflings.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/header_bus.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/header_price.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/header_walk.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/loader_2.gif">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/loading.gif">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/loading_background.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/logo.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/menu/stretch.gif">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/pin-A-drag.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/pin-B.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/point-A.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/point-B.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/small_bus.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/stops/busstop.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/subway.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/time.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/toastMessage/close.gif">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/toastMessage/error.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/toastMessage/notice.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/toastMessage/success.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/toastMessage/warning.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/tramway.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/trolleybus.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="Content/images/walk.png">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="crossdomain.xml">
      <publishTime>05/11/2012 13:31:23</publishTime>
    </File>
    <File Include="css/bootstrap/bootstrap-responsive.css">
      <publishTime>05/11/2012 13:58:17</publishTime>
    </File>
    <File Include="css/bootstrap/bootstrap-responsive.min.css">
      <publishTime>05/11/2012 13:58:17</publishTime>
    </File>
    <File Include="css/bootstrap/bootstrap.css">
      <publishTime>05/14/2012 13:54:14</publishTime>
    </File>
    <File Include="css/bootstrap/bootstrap.min.css">
      <publishTime>05/14/2012 13:55:05</publishTime>
    </File>
    <File Include="css/bootstrap/images/glyphicons-halflings-white.png">
      <publishTime>05/14/2012 13:53:52</publishTime>
    </File>
    <File Include="css/bootstrap/images/glyphicons-halflings.png">
      <publishTime>05/14/2012 13:53:52</publishTime>
    </File>
    <File Include="css/Errors/Error500.css">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="css/Errors/Page404.css">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="css/IEBlocker/IEBlocker.css">
      <publishTime>05/11/2012 15:54:20</publishTime>
    </File>
    <File Include="css/jquery.toastmessage/jquery.toastmessage.css">
      <publishTime>05/11/2012 16:30:15</publishTime>
    </File>
    <File Include="css/my/AboutUs.css">
      <publishTime>05/11/2012 13:59:39</publishTime>
    </File>
    <File Include="css/my/AddRoute.css">
      <publishTime>05/11/2012 13:59:39</publishTime>
    </File>
    <File Include="css/my/Base.css">
      <publishTime>05/11/2012 13:59:39</publishTime>
    </File>
    <File Include="css/my/Controls.css">
      <publishTime>05/14/2012 13:06:20</publishTime>
    </File>
    <File Include="css/my/loadingBar.css">
      <publishTime>05/11/2012 13:59:39</publishTime>
    </File>
    <File Include="css/my/Map.css">
      <publishTime>05/11/2012 13:59:39</publishTime>
    </File>
    <File Include="css/my/Print.css">
      <publishTime>05/11/2012 13:59:39</publishTime>
    </File>
    <File Include="css/my/queryLoader.css">
      <publishTime>05/11/2012 13:59:39</publishTime>
    </File>
    <File Include="Errors/Page404.htm">
      <publishTime>05/11/2012 13:56:43</publishTime>
    </File>
    <File Include="Errors/Page500.htm">
      <publishTime>05/11/2012 13:56:43</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>05/11/2012 12:39:16</publishTime>
    </File>
    <File Include="humans.txt">
      <publishTime>05/11/2012 13:31:23</publishTime>
    </File>
    <File Include="Images/accent.png">
      <publishTime>05/11/2012 12:39:16</publishTime>
    </File>
    <File Include="Images/aspNetHome.png">
      <publishTime>05/11/2012 12:39:16</publishTime>
    </File>
    <File Include="Images/bullet.png">
      <publishTime>05/11/2012 12:39:16</publishTime>
    </File>
    <File Include="Images/facebook.png">
      <publishTime>05/11/2012 12:39:16</publishTime>
    </File>
    <File Include="Images/findHosting.png">
      <publishTime>05/11/2012 12:39:16</publishTime>
    </File>
    <File Include="Images/heroAccent.png">
      <publishTime>05/11/2012 12:39:16</publishTime>
    </File>
    <File Include="Images/NuGetGallery.png">
      <publishTime>05/11/2012 12:39:16</publishTime>
    </File>
    <File Include="Images/orderedListOne.png">
      <publishTime>05/11/2012 12:39:16</publishTime>
    </File>
    <File Include="Images/orderedListThree.png">
      <publishTime>05/11/2012 12:39:16</publishTime>
    </File>
    <File Include="Images/orderedListTwo.png">
      <publishTime>05/11/2012 12:39:16</publishTime>
    </File>
    <File Include="Images/twitter.png">
      <publishTime>05/11/2012 12:39:16</publishTime>
    </File>
    <File Include="Images/windowsLive.png">
      <publishTime>05/11/2012 12:39:16</publishTime>
    </File>
    <File Include="js/bootstrap/core/bootstrap.js">
      <publishTime>05/11/2012 13:34:44</publishTime>
    </File>
    <File Include="js/bootstrap/core/bootstrap.min.js">
      <publishTime>05/11/2012 13:34:44</publishTime>
    </File>
    <File Include="js/bootstrap/plugins/bootstrap-button.js">
      <publishTime>05/11/2012 13:39:55</publishTime>
    </File>
    <File Include="js/bootstrap/plugins/bootstrap-popover.js">
      <publishTime>05/11/2012 13:39:55</publishTime>
    </File>
    <File Include="js/bootstrap/plugins/bootstrap-tooltip.js">
      <publishTime>05/11/2012 13:39:55</publishTime>
    </File>
    <File Include="js/bootstrap/plugins/bootstrap-typeahead.js">
      <publishTime>05/11/2012 13:39:55</publishTime>
    </File>
    <File Include="js/bootstrap/_references.js">
      <publishTime>05/11/2012 16:33:10</publishTime>
    </File>
    <File Include="js/jQuery/core/jquery-1.7.2.intellisense.js">
      <publishTime>05/11/2012 13:32:29</publishTime>
    </File>
    <File Include="js/jQuery/core/jquery-1.7.2.js">
      <publishTime>05/11/2012 13:32:28</publishTime>
    </File>
    <File Include="js/jQuery/core/jquery-1.7.2.min.js">
      <publishTime>05/11/2012 13:32:28</publishTime>
    </File>
    <File Include="js/jQuery/plugins/jquery.cookie.js">
      <publishTime>05/14/2012 13:01:32</publishTime>
    </File>
    <File Include="js/jQuery/plugins/jquery.toastmessage.js">
      <publishTime>05/11/2012 16:32:38</publishTime>
    </File>
    <File Include="js/jQuery/plugins/jquery.unobtrusive-ajax.js">
      <publishTime>05/11/2012 12:39:22</publishTime>
    </File>
    <File Include="js/jQuery/plugins/jquery.unobtrusive-ajax.min.js">
      <publishTime>05/11/2012 12:39:22</publishTime>
    </File>
    <File Include="js/jQuery/plugins/jquery.validate-vsdoc.js">
      <publishTime>05/11/2012 13:32:32</publishTime>
    </File>
    <File Include="js/jQuery/plugins/jquery.validate.js">
      <publishTime>05/11/2012 13:32:32</publishTime>
    </File>
    <File Include="js/jQuery/plugins/jquery.validate.min.js">
      <publishTime>05/11/2012 13:32:32</publishTime>
    </File>
    <File Include="js/jQuery/plugins/jquery.validate.unobtrusive.js">
      <publishTime>05/11/2012 12:39:22</publishTime>
    </File>
    <File Include="js/jQuery/plugins/jquery.validate.unobtrusive.min.js">
      <publishTime>05/11/2012 12:39:22</publishTime>
    </File>
    <File Include="js/jQuery/plugins/_references.js">
      <publishTime>05/14/2012 13:01:42</publishTime>
    </File>
    <File Include="js/json2/json2.js">
      <publishTime>05/11/2012 16:30:55</publishTime>
    </File>
    <File Include="js/knockout/knockout-2.1.0.debug.js">
      <publishTime>05/11/2012 13:32:38</publishTime>
    </File>
    <File Include="js/knockout/knockout-2.1.0.js">
      <publishTime>05/11/2012 13:32:38</publishTime>
    </File>
    <File Include="js/knockout/_references.js">
      <publishTime>05/11/2012 13:47:20</publishTime>
    </File>
    <File Include="js/modernizr/modernizr-2.5.3.js">
      <publishTime>05/11/2012 13:32:36</publishTime>
    </File>
    <File Include="js/modernizr/_references.js">
      <publishTime>05/11/2012 13:47:03</publishTime>
    </File>
    <File Include="js/my/AutocompleteNew.js">
      <publishTime>05/11/2012 13:46:31</publishTime>
    </File>
    <File Include="js/my/ControlsNew.js">
      <publishTime>05/14/2012 13:38:34</publishTime>
    </File>
    <File Include="js/my/engine.js">
      <publishTime>05/11/2012 13:46:31</publishTime>
    </File>
    <File Include="js/my/Feedback.js">
      <publishTime>05/11/2012 13:46:31</publishTime>
    </File>
    <File Include="js/my/Helpers.js">
      <publishTime>05/11/2012 13:46:31</publishTime>
    </File>
    <File Include="js/my/Legend.js">
      <publishTime>05/11/2012 13:46:31</publishTime>
    </File>
    <File Include="js/my/Main.js">
      <publishTime>05/11/2012 13:46:31</publishTime>
    </File>
    <File Include="js/my/MakeRouteViewModel.js">
      <publishTime>05/14/2012 13:14:27</publishTime>
    </File>
    <File Include="js/my/Map.js">
      <publishTime>05/11/2012 13:46:31</publishTime>
    </File>
    <File Include="js/my/Path.js">
      <publishTime>05/11/2012 13:46:31</publishTime>
    </File>
    <File Include="js/my/PrintVersion.js">
      <publishTime>05/11/2012 13:46:31</publishTime>
    </File>
    <File Include="js/my/ToastMessage.js">
      <publishTime>05/11/2012 13:46:31</publishTime>
    </File>
    <File Include="js/my/_references.js">
      <publishTime>05/11/2012 13:47:39</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>05/14/2012 12:47:23</publishTime>
    </File>
    <File Include="robots.txt">
      <publishTime>05/11/2012 13:31:23</publishTime>
    </File>
    <File Include="Sitemap.xml">
      <publishTime>05/11/2012 13:31:23</publishTime>
    </File>
    <File Include="Views/Account/LogOn.cshtml">
      <publishTime>05/11/2012 16:15:47</publishTime>
    </File>
    <File Include="Views/AddRoute/AddRoute.cshtml">
      <publishTime>05/14/2012 13:47:30</publishTime>
    </File>
    <File Include="Views/AddRoute/AddStop.cshtml">
      <publishTime>05/14/2012 13:48:14</publishTime>
    </File>
    <File Include="Views/BrowserBlocker/IEBlocker.cshtml">
      <publishTime>05/11/2012 15:55:38</publishTime>
    </File>
    <File Include="Views/Feedback/FeedbackForm.cshtml">
      <publishTime>05/11/2012 16:15:47</publishTime>
    </File>
    <File Include="Views/FeedbackDetails/Index.cshtml">
      <publishTime>05/11/2012 15:55:38</publishTime>
    </File>
    <File Include="Views/MakeRoute/AboutUs.cshtml">
      <publishTime>05/14/2012 13:46:33</publishTime>
    </File>
    <File Include="Views/MakeRoute/Index.cshtml">
      <publishTime>05/14/2012 13:44:04</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>05/11/2012 12:39:16</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>05/14/2012 13:55:58</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>05/11/2012 17:05:17</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>05/11/2012 12:39:16</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>05/14/2012 13:52:27</publishTime>
    </File>
  </ItemGroup>
</Project>