#swap
{
    position: relative;
    top: 20px;
    left: 10px;
}

#makeRouteBtn
{
    position: absolute;
    left:  220px;
}

#priority
{
    position: absolute;
    left: 50px;
    top: 90px;
}

.infoBtn
{
    float: right;
    position: relative;
    top: 40px;
}

.printBtn
{
    float: right;
    position: relative;
    top: 40px;
    right: 5px;
}

#routes-list 
{
    position: absolute;
    top: 150px;
    width: 325px;
}
#text-version-wrapper 
{
    position: absolute;
    top: 120px;
    width: 325px;
}
#routes-list ul
{
    margin: 0px;
}

#routes-list-caption
{
    text-align: center;
    padding: 5px;
    position: relative;
    left: 100px;
}
.route-box
{
    border-style: solid;
    border-width: 1px;
    height: 85px;
    width: 93%;
    cursor: pointer;
    display: inline-block;
    min-width: 250px;
    border: 1px solid #5e5b5b;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.05);
    margin: 5px;
    padding: 5px;
}

.route-box:hover
{
    background-color: rgb(206, 223, 255);
}

.selected, .selected:hover
{
    background-color: rgb(205, 234, 209);
}

.route-box-header
{
    position: relative;
    height: 20px;
    width: 100%;
    border: 1px solid #AEABAB;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 1 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 1 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 1 1px 1px rgba(0, 0, 0, 0.05);
    text-align: left;
    display: inline-block;
}

.route-box-header img
{
    position: relative;
    top: 2px;
}

.selected .route-box-header
{
    background-color: rgb(205, 234, 209);
}

.route-box .walking
{
    width: 45px;
    margin-top: 5px;
}

.route-box .walking-text
{
    font-size: 0.85em;
    position: relative;
    bottom: 10px;
    left: 5px;
}

.route-box .transport
{
    width: 50px;
}

.route-box .transport-number
{
    position: relative;
    top: -13px;
    font-size: 0.85em;
    left: 10px;
}

#closeTextVersionBtnTop, #closeTextVersionBtnDown {
    position: relative;
    left: 140px;
    top: 20px;
}

.route-box-mini {
    width: 40px;
    height: 40px;
}