@{
    ViewBag.Title = "About Us. CityTravel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css
{
    <link href="~/Content/AboutUs.css" rel="stylesheet" type="text/css" />
}


@section JavaScript
{
    $('.nav .active').removeClass('active');
    $('#nav-about-us').addClass('active');
}

<span class="image_container">
	<img src="@Url.Content("~/Content/images/aboutUsPict/Exigen_logo.png")" alt="" />
	<img src="@Url.Content("~/Content/images/aboutUsPict/Dnepr_logo.jpg")" alt="" />
</span>

<div class="containerAboutUs" >
	<span class="headerAboutUs">О проекте:</span><br />
	<p><strong>City Travel</strong> – это сервис, предоставляющий возможность	пользователям прокладывать маршруты общественным транспортом, а также получить подробную справку по этим маршрутам в пределах г.Днепропетровска.
	</p>
	<p>Вам необходимо попасть к месту, где вы раньше не бывали, либо не знаете, как		туда можно попасть общественным транспортом? Благодаря нашему сервису вам больше не придется отвлекать ваших коллег, друзей или родственников для того чтобы они вам объяснили как это можно сделать, выслушивая при этом весьма расплывчатую информацию, которая не всегда является верной. Достаточно зайти любым удобным для вас способом на наш сервис, и вы получите полную, подробную и понятную справку по интересующему вас маршруту.
	</p>
	<p>
Для того чтобы воспользоваться сервисом достаточно выбрать начало и конец маршрута, заполнив соответствующие поля на главное странице или же попросту указав эти точки на карте и нажать кнопку «Найти». Система предложит вам список из наиболее подходящих вашему критерию маршрутов. В различных ситуациях пользователи сталкиваются со следующим выбором: доехать быстро или доехать дешево? Сервис предусматривает выбор одного из этих критериев пользователем, так что вы всегда найдете именно тот маршрут, который искали. Также вы можете посмотреть дополнительную информацию по выбранному маршруту, достаточно только нажать на соответствующую кнопку рядом с «Найти». Также вы можете распечатать выбранный участок карты со всеми пояснениями по маршруту, что существенно поможет сориентироваться на том или ином участке маршрута.
	</p>
	<p>
Данный сервис был создан группой студентов на базе международной  компании «Exigen Services», в рамках программы «Exigen Agile Practics». 
Выражается отдельная благодарность экспертам компании за консультативную поддержку и участие в проекте, а также городскому совету за предоставление базы маршрутов городской транспортной сети.
	</p>
	<p>
Датой создания сервиса считается ** марта 2012 г., именно в этот день вышла в сеть его первая версия.
	</p>
	<br />
	<div class="list">
		<div class="listitem">
			<div class="well"  > В случае если вы нашли какую-либо ошибку или неточности в работе сервиса, пожалуйста, сообщите нам об этом, заполнив форму «Обратная связь» и описав проблему.
			</div>
		</div>
		<div class="listitem">
			<div class="well"> Помните, что все расчеты по времени носят приблизительный характер и могут быть недостаточно точны в зависимости от загруженности дорог, интервала движения транспорта и прочих обстоятельств.
			</div>
		</div>
		<div class="listitem">
			<div class="well"> Мы не планируем останавливаться на достигнутом результате и постоянно совершенствуемся, поэтому оставляйте свои пожелания и предложения через форму «Обратная связь», они обязательно будут учтены.
			</div>
		</div>
	</div>
	<p>Сделайте свою жизнь в Днепропетровске проще и приятнее вместе с нами.</p>
</div>