@model CityTravel.Web.UI.Models.LogOnViewModel

@{
    ViewBag.Title = "LogOn";
    Layout = null;
}

<h2>LogOn</h2>

<p>Please log in to access the administrative area:</p>
@using(Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <p><input type="submit" value="Log in"/></p>
}