html
{
    height: 100%;
}

body
{
    height: 100%;
    width: 100%;
}

/*header*/
.navbar
{
    margin: 0px;
}

.main-container
{
    position: absolute;
    top: 40px; /*header height*/
    bottom: 0px;
    padding: 0px;
    width: 100%;
    overflow: hidden;
    -webkit-transition: top 0.35s ease;
    -moz-transition: top 0.35s ease;
    -ms-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;
}

.main-container .row-fluid
{
    height: 100%;
}

.body-wrapper
{
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.sidebar
{
    position: absolute !important;
    top: 0px;
    left: 0px;
    width: 360px;
    height: inherit !important;
    overflow: auto;
    overflow-x: hidden;
}

.well
{
    padding: 0px;
    margin: 0px;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.sidebar-content
{
    width: 300px;
    position: relative;
    left: 20px;
    top: 20px;
}

.map-wrapper
{
    position: absolute;
    right: 0;
    left: 360px;
    height: inherit;
}

#feedback
 {
    overflow-y: hidden;
}