body {    
}

#wariningMessage {
    text-align: center;
    
}
#browserImages {
    text-align: center;
    margin-top: 80px;
    
}
#browserImages #chrome 
{
    display: inline-block;
    margin: 0 40px 0 0;
}
#browserImages #Mozilla 
{
    display: inline-block;
    margin: 0 40px 0 0;
}
#browserImages #Opera 
{
    display: inline-block;
    margin: 0 40px 0 0;
}
#browserImages #IE 
{
    display: inline-block;
    margin: 0 40px 0 0;
}
#resumeWork 
{
    margin-top: 50px;
    text-align: center;
}