<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  
  
  <connectionStrings>
    <!-- <add name="DataBaseContext" connectionString="Data Source=localhost;Initial Catalog=CityTravelDB;  Integrated Security=true;" providerName="System.Data.SqlClient"/>
        -->
    <add name="DataBaseContext" connectionString="Server=local; Data Source=localhost;Initial Catalog=CityTravelDB;Integrated Security=true;" providerName="System.Data.SqlClient"/>

  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="CacheTime" value="5"/>
    <add key="RouteRadiusSeach" value="1500"/>
    <add key="MaxTimeConstraint" value="2"/>
    <add key="WalkingSpeed" value="5"/>
    <add key="MaxStopRadiusSeach" value="500"/>
    <add key="MaxFindIndexDeflection" value="30"/>
    <add key="MaxIndexDeflection" value="7"/>
    <add key="MaxRelationsBuffer" value="5"/>
    <add key="GetSouthWestLongitude" value="48,38544219115483"/>
    <add key="GetSouthWestLatitude" value="34,8953247070312"/>
    <add key="GetNorthEastLongitude" value="48,510236244324055"/>
    <add key="GetNorthEastLatitude" value="35,13153076171875"/>
    <add key="SpatialReferenceSystem" value="4326"/>
    <add key ="DistanceTokenString" value="routes[0].legs[0].distance.value" />
		<add key="DistanceTokenStringFormatted" value="rows[0].elements[{0}].distance.value"/>
		<add key="PolylinePointsToken" value="routes[0].overview_polyline.points"/>
    <add key="TimeDirectionToken" value="routes[0].legs[0].duration.value"/>
		<add key="DistanceMatrixToken" value="rows[0].elements[0].distance.value"/>
		<add key="CityNameForService" value="Днепропетровск Днепропетровская область "/>
		<add key="GoogleMapsApiKey" value="AIzaSyAESAHKfk6MOaE16uNuHYvxZp47wei6uMo"/>
		<add key="JsonReqAutocompleteHead" value="https://maps.googleapis.com/maps/api/place/autocomplete/json?input="/>
		<add key="JsonReqAutocompleteBody" value="&amp;types=geocode&amp;language=ru&amp;sensor=false&amp;key="/>
		<add key="GoogleMapDistanceValueString" value="routes[0].legs[0].steps[{0}].distance.value"/>
		<add key="GoogleMapHtmlInstruction" value="routes[0].legs[0].steps[{0}].html_instructions"/>

		<add key="UrlGoogleMapApiDirectionHead" value="http://maps.googleapis.com/maps/api/directions/json?origin="/>
		<add key="UrlGoogleMapApiDirectionParams" value="{0}&amp;destination={1}&amp;mode=walking&amp;language=ru&amp;sensor=false&amp;key={2}"/>

		<add key="UrlGoogleMapApiDistanceMatrixHead" value="http://maps.googleapis.com/maps/api/distancematrix/json?origins="/>
		<add key="UrlGoogleMapApiDistanceMatrixParams" value="&amp;mode=walking&amp;language=ru&amp;sensor=false"/>
		<add key="UrlGoogleMapApiDistanceMatrixDestination" value="{0}&amp;destinations="/>
    <add key="UrlGoogleMapApiDistanceMatrixRoute" value="&amp;mode=walking&amp;language=ru&amp;sensor=false"/>
	</appSettings>
    
  <system.web>
    
    <authentication mode="Forms">
      <forms loginUrl="/Account/LogOn" timeout="2880">
        <credentials passwordFormat="Clear">
          <user name="admin" password="admin"/>
        </credentials>
      </forms>
    </authentication>
      
    <customErrors mode="On" >
      <error statusCode="404" redirect="/Errors/Page404.htm"/>
      <error statusCode="500" redirect="/Errors/Page500.htm"/>
      
    </customErrors>
   
    <compilation  debug="true" targetFramework="4.0">
      
      <assemblies> 
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.SqlServer.Types, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </assemblies>
    </compilation>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
        <add namespace="Microsoft.SqlServer.Types"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
